.about-header {
    text-align: center;
}

.about-wrapper {
    display: flex;
    justify-content: center;
}

.table-of-contents {
    text-align: center;
    max-width: 300px;
    position: fixed;
    left: 0;
    top: 5em;
    padding-left: 10px;
}

.about-content {
    text-align: center;
    max-width: 600px;
    min-width: 200px;
}

.about-content a {
    text-decoration: none;
    color: #941b1b;
    font-weight: bold;
}
